<%# #Note if current_user is not present then it will not show the name and throw error %>
<h1>Hi, <%= current_user.first_name if current_user %></h1>

<p>Blogs Post</p>
<%= @posts.inspect%>
<hr>
<p>Skills </p>
<%= @skills.inspect%>
